<MudContainer Class="d-flex justify-center gap-1">
    @for (var i = 0; i < cards; ++i)
    {
        <div class="card-container">
            <MudImage Class="card" Src="./cards/Escape.png" Elevation="1" UserAttributes="_imgCustomAttr"/>
        </div>
    }
</MudContainer>

@code {

    Dictionary<string, object> _imgCustomAttr = new()
    {
        { "draggable", "false" }
    };

    private readonly int cards = 3;
}