@inherits LayoutComponentBase

<MudThemeProvider/>
<MudSnackbarProvider/>

<MudDialogProvider
    FullWidth="true"
    MaxWidth="MaxWidth.ExtraSmall"
    CloseButton="true"
    DisableBackdropClick="false"
    Position="DialogPosition.Center"
/>

<MudLayout>
    <MudContainer Class="ps-5 py-8 border-none">
        @Body
    </MudContainer>
</MudLayout>

@* *@
@* <div class="page"> *@
@*     <div class="sidebar"> *@
@*         <NavMenu /> *@
@*     </div> *@
@* *@
@*     <main> *@
@*         <div class="top-row px-4"> *@
@*             <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
@*         </div> *@
@* *@
@*         <article class="content px-4"> *@
@*             @Body *@
@*         </article> *@
@*     </main> *@
@* </div> *@