@inject IDialogService DialogService

<div>
    <BaseDialog>
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudStack>
                <MudCheckBox
                    @bind-Checked="@FirstPlayerVote0"
                    Label="Joueur en tête parie 0 à partir de la manche 5">
                </MudCheckBox>

                <MudCheckBox
                    @bind-Checked="@Round5And10Vote0"
                    Label="Les joueurs parient 0 aux manches 5 et 10">
                </MudCheckBox>

                <MudSlider
                    @bind-Value="MaxPlayers"
                    TickMarks="true"
                    Variant="Variant.Filled"
                    Color="Color.Dark"
                    Min="6"
                    Max="10">
                    Nombre de joueurs maximum : @MaxPlayers
                </MudSlider>

                <MudButton
                    @onclick="OpenCardsDialog"
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    FullWidth="true">
                    Modifier les cartes
                </MudButton>

                <MudButton
                    OnClick="CloseDialog"
                    Variant="Variant.Filled"
                    Color="Color.Primary">
                    Valider
                </MudButton>

            </MudStack>
        </MudContainer>
    </BaseDialog>
</div>


@code {

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    public void CloseDialog()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }

    public bool FirstPlayerVote0 { get; set; }
    public bool Round5And10Vote0 { get; set; }

    public int MaxPlayers = 6;

    // Pop-up des cartes
    private void OpenCardsDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<ChangeCards>("Nombre de cartes", options);
    }

}