body {
  font-family: 'arial';
  margin: 0;
  overflow-x: hidden;
  padding: 0;

}

.animation-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.water {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

.water ul.waves {
  list-style: none;
  margin: 0;
  padding: 0;
}

.water ul.waves li {
  background-repeat: repeat-x;
}

.water ul.waves li.wave-one {
  animation: wave 8.7s linear infinite;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  bottom: 0px;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}

.water ul.waves li.wave-two {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 10s linear infinite;
  bottom: 0px;
  height: 84px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 9;
}

.water ul.waves li.wave-three {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 25s linear infinite;
  bottom: 0;
  height: 190px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 8;
}

.water ul.waves li.wave-four {
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation: wave 25s linear infinite;
  bottom: 0;
  height: 205px;
  left: 0;
  position: absolute;
  right: 0;
}

.boat {
  animation: boat 3s linear infinite;
  background-repeat: no-repeat;
  bottom: 173px;
  height: 239px;
  left: 40%;
  position: absolute;
  width: 250px;
}


.dolphin {
  animation: fish 15s linear infinite;
  background-repeat: no-repeat;
  bottom: 45px;
  height: 80px;
  left: 20%;
  position: absolute;
  width: 124px;
  z-index: 9;
}


/*Animation Keyframe Section*/

@keyframes wave {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 1920px 0;
  }
}

@keyframes boat {
  0% {
    left: 110%;
    transform: rotate(0);
  }

  25% {
    left: 80%;
    transform: rotate(20deg);
  }

  75% {
    left: 20%;
    transform: rotate(-20deg);
  }

  100% {
    left: -10%;
    transform: rotate(0);
  }
}

@keyframes cloud {
  0% {
    left: -30%;
  }

  100% {
    left: 100%;
  }
}



