@inherits ComponentBase

<div>
    <MudContainer Class="@($"d-flex justify-center gap-1 {Class}")">
        @foreach (var card in Cards)
        {
            <Card CardName="@card" Class="card-container" OnCardClick="OnCardClick"/>
        }
    </MudContainer>
</div>

@code {

    [Parameter]
    public string Class { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnCardClick { get; set; }

    [Parameter]
    public ICollection<string> Cards { get; set; } = new List<string>();

}