@page "/game"
@page "/game/{roomName}"
@inject NavigationManager NavigationManager
@inject Data Data
@using Microsoft.AspNetCore.SignalR.Client
@using KingSkullClassicOnline.Client.Shared.Components
@using Microsoft.AspNetCore.SignalR
@implements IAsyncDisposable

<WaitingRoom Url="@_url" IsVisible="!_isPlaying" Names="_players" IsOwner="_isOwner"
             OnGameStart="StartGame"/>

<GameBoard IsVisible="_isPlaying" Cards="_cards" Connection="_connection"/>

<button @onclick="() => _isPlaying = !_isPlaying">@Data.Name</button>
<button @onclick="() => _url = string.Empty">clear</button>

@code {
    private bool _isPlaying;

    private bool _isOwner;

    private string _url = "http://localhost:5000/lobby";

    private IEnumerable<string> _players = Enumerable.Empty<string>();

    private List<string> _cards = new();

    private HubConnection _connection = null!;

    [Parameter]
    public string? RoomName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/connectRoom"))
            .Build();

        SetHandlers();

        await _connection.StartAsync();
        try
        {
            if (RoomName is not null)
            {
                await JoinRoom(RoomName);
            }
            else
            {
                _isOwner = true;
                await CreateRoom();
            }
        }
        catch (HubException e)
        {
            //TODO Rediriger sur la page d'erreur et voir pour passer le message d'erreur
            //NavigationManager.NavigateTo("/error");
            Console.WriteLine(e.Message);
        }
    }

    private async Task JoinRoom(string roomName)
    {
        await _connection.InvokeAsync("JoinRoom",roomName,"Alice GRUNDER");
    }

    private async Task CreateRoom()
    {
        await _connection.InvokeAsync("CreateRoom", "bob");
    }

    private void SetHandlers()
    {
        Console.WriteLine("SetHandlers");
        _connection.On("RoomChanged", (string roomName, IEnumerable<string> players) =>
        {
            _url = roomName;
            _players = players;
            RoomName = roomName;
            Console.WriteLine($"RoomChanged: {roomName}");
            StateHasChanged();
        });

        _connection.On("HandChanged", (List<string> newHand) =>
        {
            _isPlaying = true;
            _cards = newHand;
            Console.WriteLine($"HandChanged: {newHand}");
            StateHasChanged();
        });
    }

    public async ValueTask DisposeAsync()
    {
        await _connection.DisposeAsync();
    }

    private async void StartGame()
    {
        await _connection.InvokeAsync("StartGame", RoomName);
    }

}