@page "/game"
@page "/game/{roomName}"
@inject NavigationManager NavigationManager
@inject Data Data
@using Microsoft.AspNetCore.SignalR.Client
@using KingSkullClassicOnline.Client.Shared.Components
@using KingSkullClassicOnline.Shared
@implements IAsyncDisposable

<WaitingRoom IsVisible="!_isPlaying" IsOwner="_isOwner"
             Connection="_connection" RoomName="@RoomName"/>

<GameBoard IsVisible="_isPlaying" Cards="_cards" Connection="_connection"/>

<button @onclick="() => _isPlaying = !_isPlaying">@Data.Name</button>
<button @onclick="() => _url = string.Empty">clear</button>

@code {
    private bool _isPlaying;

    private bool _isOwner;
    
    private string _url = "http://localhost:5000/lobby";

    private List<string> _cards = new();

    private HubConnection _connection = null!;

    [Parameter]
    public string? RoomName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/connectRoom"))
            .Build();

        SetHandlers();

        await _connection.StartAsync();

        if (RoomName is not null)
        {
            await JoinRoom(RoomName);
        }
        else
        {
            _isOwner = true;
            await CreateRoom();
        }
    }

    private async Task JoinRoom(string roomName)
    {
        await _connection.SendAsync(Events.JoinRoom, roomName, "alice GRUNDER");
    }

    private async Task CreateRoom()
    {
        await _connection.SendAsync(Events.CreateRoom, "bob");
    }

    private void SetHandlers()
    {
        Console.WriteLine("SetHandlers");
        
        _connection.On(Events.GameStarted, () =>
        {
            _isPlaying = true;
            Console.WriteLine($"{Events.GameStarted}");
            StateHasChanged();
        });
    }

    public async ValueTask DisposeAsync()
    {
        await _connection.DisposeAsync();
    }
}