@page "/"

<PageTitle>Create Game</PageTitle>

<h1 class="title">King Skull</h1>
<h2 class="title">Classic Online</h2>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Small">
    <MudStack>
        <MudTextField
            @bind-Value="TextValue"
            Variant="Variant.Filled"
            AutoFocus="true"
            Label="Votre nom">
        </MudTextField>

        <MudButton
            Href="https://localhost:7114/startgame"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Size="Size.Large"
            FullWidth="true">
            Créer la partie
        </MudButton>
    </MudStack>
</MudContainer>

<style>
#app {
  background: linear-gradient(
                  rgba(0, 0, 0, 0.4),
                  rgba(0, 0, 0, 0.6)
  ), url(./images/boat.jfif) no-repeat center;
  background-size: cover;
}

.mud-input-filled {
    border-color: var(--mud-palette-text-secondary);
    border-width: 1px 1px 0 1px;
}
</style>

@code {
    public string TextValue { get; set; }
}