@page "/"

<PageTitle>King Skull Classic Online</PageTitle>

<h1 class="title">King Skull</h1>
<h2 class="title">Classic Online</h2>

<MudContainer Class="mt-16 bg" MaxWidth="MaxWidth.Small">
    <MudStack>
        <MudTextField
            @bind-Value="TextValue"
            Variant="Variant.Filled"
            AutoFocus="true"
            Label="Votre nom">
        </MudTextField>

        <MudButton
            Href="lobby"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Size="Size.Large"
            FullWidth="true">
            Créer la partie
        </MudButton>
    </MudStack>
</MudContainer>

<style>
/* TODO trouver une solution*/
    #app {
      background: linear-gradient(
                      rgba(0, 0, 0, 0.4),
                      rgba(0, 0, 0, 0.6)
      ), url(./images/boat.jfif) no-repeat center;
      background-size: cover;
    }
</style>

@code {
    public string TextValue { get; set; }
}