@page "/"

<PageTitle>King Skull Classic Online</PageTitle>

<h1 class="title">King Skull</h1>
<h2 class="title">Classic Online</h2>

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Small">
    <MudStack>
        <MudTextField
            @bind-Value="TextValue"
            Variant="Variant.Filled"
            AutoFocus="true"
            Label="Votre nom">
        </MudTextField>

        <MudButton
            Href="https://localhost:7114/startgame"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Size="Size.Large"
            FullWidth="true">
            Créer la partie
        </MudButton>
    </MudStack>
</MudContainer>

@code {
    public string TextValue { get; set; }
}