@page "/"
@inject Data Data

<PageTitle>King Skull Classic Online</PageTitle>

<h1 class="title">King Skull</h1>
<h2 class="title">Classic Online</h2>

<MudContainer Class="mt-16 bg" MaxWidth="MaxWidth.Small">
    <MudStack>
        <MudTextField
            @bind-Value="Data.Name"
            Variant="Variant.Filled"
            AutoFocus="true"
            Required="true"
            Label="Votre nom"
            RequiredError=""
            Error="false"
            Immediate="true">
        </MudTextField>

        <MudButton
            Href="game"
            Variant="Variant.Filled"
            Color="Color.Primary"
            Size="Size.Large"
            Disabled="string.IsNullOrEmpty(Data.Name)"
            FullWidth="true">
            Créer la partie
        </MudButton>
    </MudStack>
</MudContainer>

<style>
/* TODO trouver une solution*/
    #app {
      background: linear-gradient(
                      rgba(0, 0, 0, 0.4),
                      rgba(0, 0, 0, 0.6)
      ), url(./images/boat.jfif) no-repeat center;
      background-size: cover;
    }
</style>