@page "/lobby"
@using KingSkullClassicOnline.Client.Shared.Popups

@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IClipboardService ClipboardService

<PageTitle>Lobby</PageTitle>

<h2 class="title">Equipage</h2>

<MudContainer MaxWidth="MaxWidth.ExtraSmall">
    <MudStack>
        <div class="relative">
            <div class="parchment-bg"></div>
            <MudStack Class="parchment">
                @{ var i = 0; }
                @foreach (var name in Names)
                {
                    <MudText
                        Class="pa-1 ml-16 mr-16"
                        Typo="Typo.h5">
                        @name
                    </MudText>
                    ++i;
                }
            </MudStack>
        </div>

        <MudButton
            Href="https://localhost:7114/startgame"
            Variant="Variant.Filled"
            Color="Color.Primary"
            FullWidth="true">
            Commencer la partie
        </MudButton>

        <MudButton
            @onclick="OpenRulesDialog"
            Variant="Variant.Filled"
            Color="Color.Primary"
            FullWidth="true">
            Modifier les règles
        </MudButton>

        <MudTextField
            @bind-Value="url"
            Variant="Variant.Filled"
            ReadOnly="true"
            Label="URL pour rejoindre cette room"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Filled.ContentCopy"
            OnAdornmentClick="CopyRoomLink">
        </MudTextField>
    </MudStack>
</MudContainer>

<svg style="height: 0">
    <filter id="wavy2">
        <feTurbulence x="0" y="0" baseFrequency="0.02" numOctaves="5" seed="2"/>
        <feDisplacementMap in="SourceGraphic" scale="20"/>
    </filter>
</svg>

@code {
    // Liste des joueurs affichés
    public string[] Names =
    {
        "Loïc",
        "Stéphane",
        "Géraud",
        "Alex",
        "Loris"
    };

    // Zone de texte contenant l'URL pour rejoindre la room
    public string url { get; set; } = "https://localhost:7114/startgame/amogus";

    // Pop-up des règles
    private void OpenRulesDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<Rules>("Modifier les règles", options);
    }

    // Copie l'URL de la room
    private async Task CopyRoomLink()
    {
        Snackbar.Add(
            "Lien copié !", Severity.Normal, config =>
            {
                config.VisibleStateDuration = 500;
                config.ShowTransitionDuration = 200;
                config.Icon = Icons.Filled.Link;
            });
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;

        await ClipboardService.CopyToClipboard(url);
    }
}