@page "/lobby"
@using KingSkullClassicOnline.Client.Shared.Components
@inject Data Data

<WaitingRoom Url="@_url" IsVisible="_isVisible" Names="_players"/>
<h1>@Data.Name</h1>
<button @onclick="() => _isVisible = !_isVisible">test</button>
<button @onclick="() => _url = string.Empty">clear</button>
<button @onclick="() => _players.Add(Random.Shared.Next().ToString())">clear</button>

@code {
    bool _isVisible = true;

    private string _url = "http://localhost:5000/lobby";

    readonly List<string> _players = new();
}