@page "/startGame"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@inject NavigationManager NavigationManager

<h3>@_lobbyName</h3>
<MudButton @onclick="Start" Variant="Variant.Filled" Color="Color.Primary">
    @_wow
</MudButton>

@code {

    private readonly string _lobbyName = Data.LobbyName ?? string.Empty;
    private readonly string _wow = "Start";
    private HubConnection _hubConnection = null!;

    async Task Start()
    {
        await _hubConnection.SendAsync("StartGame", Data.LobbyName);
        StateHasChanged();
    //await Data.HubConnection.SendAsync("StartGame", Data.LobbyName);
    }

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        await _hubConnection.StartAsync();

        await _hubConnection.SendAsync("JoinGroup", Data.LobbyName, Data.Player);


        _hubConnection.On("StartGame", () =>
        {
            _hubConnection.SendAsync("LeaveGroup", _lobbyName, Data.Player);

            NavigationManager.NavigateTo("/Game");
        });
        StateHasChanged();
    }


    public async ValueTask DisposeAsync()
    {
        await _hubConnection.DisposeAsync();
    }

}